# pnpm config
# Allow postinstall scripts (bắt buộc để generate Prisma Client binary và compile bcrypt native)
approve-builds[]=prisma
approve-builds[]=@prisma/client
approve-builds[]=@prisma/engines
approve-builds[]=bcrypt
approve-builds[]=unrs-resolver
